<%= form_for(@announcement) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :write_up, :placeholder=>'Type here...', class: 'form-panel', :style=>"resize:none; height: 580px; padding-top: 30px; padding-right: 30px; margin-top: 6vh;" %>
  </div>

  <div class="actions">
    <%= f.submit 'Post', class: 'form-panel form-submit' %>
  </div>
<% end %>
