<%= form_for(@signature) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.hidden_field :petition_id %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign'%>
  </div>
<% end %>
