<%= form_for(@petition) do |f| %>
  <% if @petition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@petition.errors.count, "error") %> prohibited this petition from being saved:</h2>

      <ul>
      <% @petition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div style="margin-top: 11vh; font-family: 'Roboto Slab', serif; font-weight:bold; font-size: 35px; line-height: 30px; color:black;">Petition to...</div>
    <%= f.text_field :title, placeholder: 'Title...', class: 'form-panel', :style=>"margin-top: 2vh;" %>
  </div>
  <div class="field">
    <div style="margin-top: 5vh; font-family: 'Roboto Slab', serif; font-weight:bold; font-size: 35px; line-height: 30px; color:black;">Information</div>
    <%= f.text_area :write_up, :placeholder=>'Type here...', class: 'form-panel', :style=>"resize:none; height: 500px; padding-top: 30px; padding-right: 30px; margin-top: 2vh;" %>
  </div>
  <div class="actions">
    <%= f.submit 'Post', class: 'form-panel form-submit' %>
  </div>
<% end %>
