<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @call.event %>
</p>

<p>
  <strong>Date:</strong>
  <%= @call.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @call.time %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @call.venue %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
