<style src="assets/stylesheets/slidemenu.css.scss"></style>
<style src="assets/stylesheets/masonry.css.scss"></style>




<body class="cbp-spmenu-push" id="pg-newsboard" style="height: 100vh; overflow-y:auto;">
  
  <!-- navbar -->
  <%= render 'pages/navbar' %>

  
    <button id="showPencilMenu" style="border:none; height: 140px; width: 140px; background-color:#FCB800; position:fixed; margin-top: 15vh; visibility:hidden;"><%= image_tag 'create_post_admin_icon-15.png', style: "background-color:#FCB800; height: 60px;" %></button>

    <% if user_signed_in? %>
      <script>
        document.getElementById("showPencilMenu").style.visibility = "visible";
      </script>
    <% end %>
    <!-- pencil menu-->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-pencil" style="">
      <button id="cbp-spmenu-pencil-close" class="btn-close"><%= image_tag 'exit_button-15.png', style: "background-color:#FCB800; height: 50px;" %></button>
        <div>
        <button id="btn-new-announcement" class='btn-panel' style='margin-top: 11vh; font-size: 23px;'>Announcement</button>
        <button id="btn-new-call" class='btn-panel' style="margin-top: 2vh; font-size: 23px;">Call for Volunteers</button> 
        <button id="btn-new-poll" class='btn-panel' style="margin-top: 2vh; font-size: 23px;">Poll</button> 
        <button id="btn-new-survey" class='btn-panel' style="margin-top: 2vh; font-size: 23px;">Survey</button> 
      </div>
    </nav>

    <!-- poll menu -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right cbp-spmenu-post" id="cbp-spmenu-new-poll">
      <button id="cbp-spmenu-new-poll-close" class="btn-close"><%= image_tag 'exit_button-15.png', style: "background-color:#FCB800; height: 50px;"%></button>
      <div style="margin-top: 11vh; font-family: 'Roboto', sans-serif; font-weight:bold; font-size: 100px; color:black;">POLL</div>
      <%= render 'polls/form' %>
    </nav>

    <!-- announcement menu -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right cbp-spmenu-post" id="cbp-spmenu-new-announcement">
      <button id="cbp-spmenu-new-announcement-close" class="btn-close"><%= image_tag 'exit_button-15.png', style: "background-color:#FCB800; height: 50px;"%></button>
      <div style="margin-top: 11vh; font-family: 'Roboto', sans-serif; font-weight:bold; font-size: 35px; color:black;">ANNOUNCEMENT</div>
      <%= render 'announcements/form' %>
    </nav>

    <!-- survey menu -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right cbp-spmenu-post" id="cbp-spmenu-new-survey">
      <button id="cbp-spmenu-new-survey-close" class="btn-close"><%= image_tag 'exit_button-15.png', style: "background-color:#FCB800; height: 50px;"%></button>
      <div style="margin-top: 11vh; font-family: 'Roboto', sans-serif; font-weight:bold; font-size: 80px; color:black;">SURVEY</div>
      <%= render 'surveys/form' %>
    </nav>

    <!-- call menu -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right cbp-spmenu-post" id="cbp-spmenu-new-call">
      <button id="cbp-spmenu-new-call-close" class="btn-close"><%= image_tag 'exit_button-15.png', style: "background-color:#FCB800; height: 50px;"%></button>
      <div style="margin-top: 11vh;">
        <h1 style="padding:0 ;margin: 0; font-size: 60px; font-family: 'Roboto', sans-serif; font-weight:bold; color:black;">CALL FOR</h1>
        <h1 style="padding: 0; margin: 0; font-size: 45px; font-family: 'Roboto', sans-serif; font-weight:bold; color:black;">VOLUNTEERS</h1>
      </div>
      </div>
      <%= render 'calls/form' %>
    </nav>





<div class="grid" style="margin-top: 10vh;" >
  <% @news.each do |news| %>
    <% if news.class.name == "Call" %>
      <div class="grid-item grid-newsboard-item">
        <% if user_signed_in? %> <!-- IF ADMIN -->
          <%= link_to news, method: :delete, data: { confirm: 'Are you sure?' }, style: "outline:none; text-decoration: none; background-color:white; position:absolute;" do %>
            <%= image_tag "delete_post_button-15.png", style: "height: 50px; margin-top: -95px; margin-left: -65px;", class: "delete-link" %>
          <% end %>
        <% end %>
        <h1 style="margin: 0; font-family: 'Roboto', sans-serif; font-weight:bold; font-size: 81px;  color:black;">CALL FOR</h1>
        <h1 style="margin: 0;font-family: 'Roboto', sans-serif; font-weight:bold; font-size: 60px; color:black;">VOLUNTEERS</h1>
        <p class="grid-info" style="margin: 0; margin-top: 20px;">Event: <span class="call-info newsboard-highlight"><%= news.event %></span></p>
        <p class="grid-info" style="margin: 0;">Date: <span class="call-info newsboard-highlight"><%= news.date %></span></p>
        <p class="grid-info" style="margin: 0;">Time: <span class="call-info newsboard-highlight"><%= news.time %></span></p>
        <p class="grid-info" style="margin: 0;">Venue: <span class="call-info newsboard-highlight"><%= news.venue %></span></p>
      </div>
    <% elsif news.class.name == "Survey" %>
      <div class="grid-item grid-newsboard-item">
        <% if user_signed_in? %> <!-- IF ADMIN -->
          <%= link_to news, method: :delete, data: { confirm: 'Are you sure?' }, style: "outline:none; text-decoration: none; background-color:white; position:absolute;" do %>
            <%= image_tag "delete_post_button-15.png", style: "height: 50px; margin-top: -95px; margin-left: -65px;", class: "delete-link" %>
          <% end %>
        <% end %>
        <h1 style="margin: 0; font-family: 'Roboto', sans-serif; font-weight:bold; font-size: 85px;  color:black;">SURVEY</h1>
        <p class="grid-info" style="margin: 0; margin-top: 20px;"><%= news.write_up.gsub(/\n/, '<br/>').html_safe %></p>
        <p class="grid-info" style="margin: 0; margin-top: 20px; font-family: 'Roboto Slab', serif; font-weight:bold;"><span class="call-info newsboard-highlight"><%= news.link %></span></p>
      </div>
    <% elsif news.class.name == "Announcement" %>
      <div class="grid-item grid-newsboard-item">
        <% if user_signed_in? %> <!-- IF ADMIN -->
          <%= link_to news, method: :delete, data: { confirm: 'Are you sure?' }, style: "outline:none; text-decoration: none; background-color:white; position:absolute;" do %>
            <%= image_tag "delete_post_button-15.png", style: "height: 50px; margin-top: -95px; margin-left: -65px;", class: "delete-link" %>
          <% end %>
        <% end %>
        <h1 style="margin: 0; font-family: 'Roboto', sans-serif; font-weight:bold; font-size: 48px;  color:black;">ANNOUNCEMENT</h1>
        <p class="grid-info" style="margin: 0; margin-top: 20px;"><%= news.write_up.gsub(/\n/, '<br/>').html_safe %></p>
      </div>
    <% else %> <!-- IF POLL -->
      <div class="grid-item grid-newsboard-item">
        <% if user_signed_in? %> <!-- IF ADMIN -->
          <%= link_to news, method: :delete, data: { confirm: 'Are you sure?' }, style: "outline:none; text-decoration: none; background-color:white; position:absolute;" do %>
            <%= image_tag "delete_post_button-15.png", style: "height: 50px; margin-top: -95px; margin-left: -65px;", class: "delete-link" %>
          <% end %>
        <% end %>
        <h1 style="margin: 0; font-family: 'Roboto', sans-serif; font-weight:bold; font-size: 100px;  color:black;">POLL</h1>
        <p class="grid-info" style="margin: 0; margin-top: 20px;"><%= news.information %></p>
        <p class="grid-info" style="margin: 0; margin-top: 20px; font-family: 'Roboto Slab', serif; font-weight:bold; cursor: pointer; cursor: hand;"><span class="call-info newsboard-highlight" id="btn-show-poll<%= news.id %>" onclick="show_poll(this)">Click here to view entire poll</span></p>
        
        <!-- poll menu -->
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right cbp-spmenu-post" id="cbp-spmenu-poll<%= news.id %>">
          <button id="cbp-spmenu-poll-close<%= news.id %>" class="btn-close" onclick="hide_poll(this)"><%= image_tag 'exit_button-15.png', style: "background-color:#FCB800; height: 50px;" %></button>
          <div style="margin-top: 11vh; font-family: 'Roboto', sans-serif; font-weight:bold; font-size: 100px; color:black;">POLL</div>
            <div style="margin-top: 10vh; font-family: 'Roboto Slab', serif; font-weight:bold; font-size: 35px; line-height: 30px; color:black;">Information</div>
            <div style="margin-top: 1.5vh; padding: 30px; background-color: #F1F1F2; border: black solid 5px;">
              <p class="grid-info" style="font-size: 20px; line-height: 25px; letter-spacing: 0px;"><%= news.information %></p>
            </div>
            <% total_votes = 0 %>
            <% news.choices.each do |choice| %>
              <% total_votes += choice.votes %>
            <% end %>
            <% news.choices.each do |choice| %>
              <%= form_for(choice, html: {method: "patch"}) do %>
                 <div class="row" style="margin:0; padding:0; margin-top: 2vh;">
                  <div class="col-sm-2" style="margin:0; padding:0;">
                    <button class="button" type="submit" name="poll-vote" value=<%= choice.id%>><span></span></button>
                  </div>
                  <div class="col-sm-10" style="margin:0; padding:0;">
                    <div style="padding-bottom: 0px; background-color: #F1F1F2; border: black solid 5px; width: 96%; float:right; height: 53px; padding: 5px 15px;">
                      <p class="grid-info" style="font-size: 20px; letter-spacing: 0px; margin: 0;"><%= choice.name %><span style="float:right;">
                        <% if total_votes != 0 %>
                          <% percentage = choice.votes.to_f/total_votes %>
                          <span class="more-highlight"><%= percentage*100 == (percentage*100).to_i ? (percentage*100).to_i : (percentage*100).round(2) %>%</span>
                        <% else %>
                          0%
                        <% end %>
                      </span>
                      </p>
                    </div>
                  </div>
                 </div>
              <% end %>
            <% end %>
            <div style="margin-top: 4vh; font-family: 'Roboto Slab', serif; font-weight:bold; font-size: 35px; line-height: 30px; color:black;">Deadline</div>
            <div style="margin-top: 1.5vh; padding: 10px; padding-bottom: 2px; background-color: #F1F1F2; border: black solid 5px;">
              <p class="grid-info" style="font-size: 20px; line-height: 25px; letter-spacing: 0px;"><span class="more-highlight"><%= news.deadline %></span></p>
            </div>
        </nav>
        <!-- end of poll menu -->
      </div>
    <% end %>
  <% end %>
</div>

</body>

<script src="assets/javascripts/masonry.js"></script>
<script>
  $(document).ready(function(){
    $('.grid').masonry({
      itemSelector: '.grid-item',
      // columnWidth: 160
    });

  });
</script>
<script src="assets/javascripts/classie.js"></script>
<script>
  var hamburgerMenu = document.getElementById( 'cbp-spmenu-hamburger' ),
      megaphoneMenu = document.getElementById( 'cbp-spmenu-megaphone' ),
      pencilMenu = document.getElementById( 'cbp-spmenu-pencil' ),
      newReportMenu = document.getElementById('cbp-spmenu-new-report'),
      newPetitionMenu = document.getElementById('cbp-spmenu-new-petition'),
      newPollMenu = document.getElementById('cbp-spmenu-new-poll'),
      newAnnouncementMenu = document.getElementById( 'cbp-spmenu-new-announcement' ),
      newCallMenu = document.getElementById( 'cbp-spmenu-new-call' ),
      newSurveyMenu = document.getElementById( 'cbp-spmenu-new-survey' ),
      showHamburgerMenu = document.getElementById( 'showHamburgerMenu' ),
      showMegaphoneMenu = document.getElementById( 'showMegaphoneMenu' ),
      showPencilMenu = document.getElementById( 'showPencilMenu' ),
      showNewReportMenu = document.getElementById( 'btn-new-report' ),
      showNewPetitionMenu = document.getElementById( 'btn-new-petition' ),
      showNewPollMenu = document.getElementById( 'btn-new-poll' ),
      showNewAnnouncementMenu = document.getElementById( 'btn-new-announcement' ),
      showNewCallMenu = document.getElementById( 'btn-new-call' ),
      showNewSurveyMenu = document.getElementById( 'btn-new-survey' ),
      hideHamburgerMenu = document.getElementById('cbp-spmenu-hamburger-close'),
      hideMegaphoneMenu = document.getElementById('cbp-spmenu-megaphone-close'),
      hidePencilMenu = document.getElementById('cbp-spmenu-pencil-close'),
      hideNewReportMenu = document.getElementById('cbp-spmenu-new-report-close'),
      hideNewPetitionMenu = document.getElementById('cbp-spmenu-new-petition-close'),
      body = document.body;

  showHamburgerMenu.onclick = function() {
    //classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toright' );
    classie.toggle( hamburgerMenu, 'cbp-spmenu-open' );
  };
  showMegaphoneMenu.onclick = function() {
    //classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toleft' ); //hide/show hamburger
    classie.toggle( megaphoneMenu, 'cbp-spmenu-open' ); //hide/show right panel
  };
  showPencilMenu.onclick = function() {
    //classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toright' );
    classie.toggle( pencilMenu, 'cbp-spmenu-open' );
  };
  hideHamburgerMenu.onclick = function(){
    classie.toggle( body, 'cbp-spmenu-push-toright' ); //hide/show megaphone
    classie.toggle( hamburgerMenu, 'cbp-spmenu-open' ); //hide/show left panel
  };
  hideMegaphoneMenu.onclick = function(){
    classie.toggle( body, 'cbp-spmenu-push-toleft' );
    classie.toggle( megaphoneMenu, 'cbp-spmenu-open' );
  };
  hidePencilMenu.onclick = function(){
    classie.toggle( body, 'cbp-spmenu-push-toright' ); //hide/show megaphone
    classie.toggle( pencilMenu, 'cbp-spmenu-open' ); //hide/show left panel
  };
  showNewReportMenu.onclick = function(){
    classie.toggle( newReportMenu, 'cbp-spmenu-open');
  };
  hideNewReportMenu.onclick = function(){
    classie.toggle( newReportMenu, 'cbp-spmenu-open' );
  };
  showNewPetitionMenu.onclick = function(){
    classie.toggle( newPetitionMenu, 'cbp-spmenu-open');
  };
  hideNewPetitionMenu.onclick = function(){
    classie.toggle( newPetitionMenu, 'cbp-spmenu-open' );
  };

  showNewPollMenu.onclick = function(){
    classie.toggle( pencilMenu, 'cbp-spmenu-open');
    classie.toggle( body, 'cbp-spmenu-push-toleft');
    classie.toggle( newPollMenu, 'cbp-spmenu-open');
  };
  hideNewPollMenu.onclick = function(){
    classie.toggle( body, 'cbp-spmenu-push-toright');
    classie.toggle( body, 'cbp-spmenu-push-toleft');
    classie.toggle( newPollMenu, 'cbp-spmenu-open' );
  };
  showNewAnnouncementMenu.onclick = function(){
    classie.toggle( pencilMenu, 'cbp-spmenu-open');
    classie.toggle( body, 'cbp-spmenu-push-toleft');
    classie.toggle( newAnnouncementMenu, 'cbp-spmenu-open');
  };
  hideNewAnnouncementMenu.onclick = function(){
    classie.toggle( body, 'cbp-spmenu-push-toright');
    classie.toggle( body, 'cbp-spmenu-push-toleft');
    classie.toggle( newAnnouncementMenu, 'cbp-spmenu-open' );
  };
  showNewCallMenu.onclick = function(){
    classie.toggle( pencilMenu, 'cbp-spmenu-open');
    classie.toggle( body, 'cbp-spmenu-push-toleft');
    classie.toggle( newCallMenu, 'cbp-spmenu-open');
  };
  hideNewCallMenu.onclick = function(){
    classie.toggle( body, 'cbp-spmenu-push-toright');
    classie.toggle( body, 'cbp-spmenu-push-toleft');
    classie.toggle( newCallMenu, 'cbp-spmenu-open' );
  };
  showNewSurveyMenu.onclick = function(){
    classie.toggle( pencilMenu, 'cbp-spmenu-open');
    classie.toggle( body, 'cbp-spmenu-push-toleft');
    classie.toggle( newSurveyMenu, 'cbp-spmenu-open');
  };
  hideNewSurveyMenu.onclick = function(){
    classie.toggle( body, 'cbp-spmenu-push-toright');
    classie.toggle( body, 'cbp-spmenu-push-toleft');
    classie.toggle( newSurveyMenu, 'cbp-spmenu-open' );
  };

  function show_poll(element){
    var count = element.id.slice(13);
    classie.remove( body, 'cbp-spmenu-push-toleft' );
    classie.add( body, 'cbp-spmenu-push-toleft' );
    classie.add( document.getElementById('cbp-spmenu-poll'+count), 'cbp-spmenu-open');
  }
  function hide_poll(element){
    var count = element.id.slice(21);
    classie.remove( document.getElementById('cbp-spmenu-poll'+count), 'cbp-spmenu-open');
    if (document.getElementsByClassName('cbp-spmenu-open').length == 0){
      classie.remove( body, 'cbp-spmenu-push-toleft' );
    }
  }
</script>