<div class="row">
  <div class="col-xs-2">
    <button id="btn-menu">Main Menu</button>
    <div id="menu-options" class="panel-left">
      <button id="menu-options-btn-close">X</button>
      <%= link_to 'Reports', posts_path(code: 'pie'), id: 'btn-reports' %><br>
      <%= link_to 'Newsboard', newsboard_path, id: 'btn-newsboard' %><br>
      <%= link_to 'About', about_path, id: 'btn-about' %><br>
    </div>
     <div id="newsboard-post-options" class="panel-left">
      <button id="newsboard-post-options-btn-close">X</button>
      <button id="btn-announcement">Announcement</button><br>
      <button id="btn-call">Call for Volunteers</button><br>
      <button id="btn-poll">Poll</button><br>
      <button id="btn-survey">Survey</button><br>
    </div>
  </div>
  <div class="col-xs-8">
    NEWSBOARD
  </div>
  <div class="col-xs-2">
    <button id="btn-post">Create Post</button>
    <div id="post-options" class="panel-right">
      <button id="post-options-btn-close">X</button>
      <button id="btn-report">Report</button>
      <button id="btn-petition">Petition</button>
    </div>
    <div id="report-new" class="panel-right">
      <button id="report-new-btn-close">X</button>
      <%= render 'reports/form' %>
    </div>
    <div id="petition-new" class="panel-right">
      <button id="petition-new-btn-close">X</button>
      <%= render 'petitions/form' %>
    </div>
    <div id="report-new" class="panel-right">
      <%= render 'reports/form' %>
    </div>
    <div id="petition-new" class="panel-right">
      <%= render 'petitions/form' %>
    </div>
    <div id="announcement-new" class="panel-right">
      <%= render 'announcements/form' %>
    </div>
    <div id="call-new" class="panel-right">
      <%= render 'calls/form' %>
    </div>
    <div id="poll-new" class="panel-right">
      <%= render 'polls/form' %>
    </div>
    <div id="survey-new" class="panel-right">
      <%= render 'surveys/form' %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <button id="btn-newsboard-post" class="btn-left">Create Newsboard Post</button>
<% end %>


<div>
  <% @news.each do |news| %>
    <% if user_signed_in? %>
      <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <% if news.class.name == "Call" %>
      <div style="border: 5px solid black; margin-bottom: 10px;">
        CALL FOR<br>
        VOLUNTEERS<br>
        Event: <strong><%= news.event %></strong><br>
        Date: <strong><%= news.time %></strong><br>
        Time: <strong><%= news.date %></strong><br>
        Venue: <strong><%= news.venue %></strong>
      </div>
    <% elsif news.class.name == "Survey" %>
      <div style="border: 5px solid black; margin-bottom: 10px;">
        SURVEY<br>
        <%= news.write_up %><br>
        <strong><%= news.link %></strong>
      </div>
    <% elsif news.class.name == "Announcement" %>
      <div style="border: 5px solid black; margin-bottom: 10px;">
        ANNOUNCEMENT<br>
        <strong><%= news.title %></strong><br>
        <%= news.write_up %>
      </div>
    <% else %> <!-- IF POLL -->
      <div style="border: 5px solid black; margin-bottom: 10px;">
        POLL<br>
        <%= news.information %>
        <button id="btn-show-poll<%= news.id %>" class="btn-show-poll" onclick="show_poll(this)">Click here to view entire poll</button>

        <!-- DIV FOR SHOWING POLL -->
        <div id="show-poll<%= news.id %>" class="show-poll">
          Information<br>
          <div style="border: 5px solid black; margin-bottom: 10px;">
            <%= news.information %>
          </div>
            <% total_votes = 0 %>
            <% news.choices.each do |choice| %>
              <% total_votes += choice.votes %>
            <% end %>
            <% news.choices.each do |choice| %>
              <%= form_for(choice, html: {method: "patch"}) do %>
                <input name="poll-vote" type="radio" value=<%= choice.id%> onclick="submit()">
              <%= choice.name %>
                <% if total_votes != 0 %>
                  <% percentage = choice.votes.to_f/total_votes %>
                  <%= percentage*100 == (percentage*100).to_i ? (percentage*100).to_i : (percentage*100).round(2) %>%
                <% else %>
                  0%
                <% end %>
              <% end %>
            <% end %>
          
          Deadline<br>
          <div style="border: 5px solid black; margin-bottom: 10px;">
            <%= news.deadline %>
          </div>
        </div>
        <!-- END DIV FOR SHOWING POLL -->
      </div>
    <% end %>
  <% end %>
</div>


<script>
function show_poll(element){
  $(".show-poll").hide();
  var count = element.id.slice(-1);
  $("#show-poll"+count).show();//('slide', {direction: 'left'}, 500);
}

$(document).ready(function(){
// $( "#toggle" ).toggle( "slide" );
  $(".panel-right").hide();
  $(".panel-left").hide();

  $("#btn-menu").click(function(){
    $("#btn-menu").hide();
    $(".panel-right").hide();
    $("#btn-post").show('slide', {direction: 'right'}, 500);
    $("#menu-options").show('slide', {direction: 'left'}, 500);
  });

  $("#btn-post").click(function(){
    $("#btn-post").hide();
    $(".panel-left").hide();
    $("#btn-menu").show('slide', {direction: 'left'}, 500);
    $("#post-options").show('slide', {direction: 'right'}, 500);
  });

  $("#btn-petition").click(function(){
    $(".panel-right").hide();
    $("#petition-new").show('slide', {direction: 'right'}, 500);
  });
  
  $("#btn-report").click(function(){
    $(".panel-right").hide();
    $("#report-new").show('slide', {direction: 'right'}, 500);
  });

  $("#post-options-btn-close").click(function(){
    $("#post-options").hide();
    $("#btn-post").show('slide', {direction: 'left'}, 500);
  });

  $("#menu-options-btn-close").click(function(){
    $("#menu-options").hide();
    $("#btn-menu").show('slide', {direction: 'left'}, 500);
  });

  $("#report-new-btn-close").click(function(){
    $("#report-new").hide();
    $("#btn-post").show('slide', {direction: 'right'}, 500);
  });

  $("#petition-new-btn-close").click(function(){
    $("#petition-new").hide();
    $("#btn-post").show('slide', {direction: 'right'}, 500);
  });

  $(".show-poll").hide();

  $("#newsboard-post-options-btn-close").click(function(){
    $("#newsboard-post-options").hide();
    $("#btn-menu").show('slide', {direction: 'left'}, 500);
    $("#btn-newsboard-post").show('slide', {direction: 'left'}, 500);
  });

  $("#btn-newsboard-post").click(function(){
    $(".btn-left").hide();
    $(".panel-left").hide();
    $(".panel-right").hide();
    $("#btn-post").show('slide', {direction: 'right'}, 500);
    $("#newsboard-post-options").show('slide', {direction: 'left'}, 500);
  });

  $("#btn-announcement").click(function(){
    $(".panel-left").hide();
    $(".panel-right").hide();
    $("#btn-post").hide();
    $(".btn-left").show('slide', {direction: 'right'}, 500);
    $("#announcement-new").show('slide', {direction: 'right'}, 500);
  });

  $("#btn-poll").click(function(){
    $(".panel-left").hide();
    $(".panel-right").hide();
    $("#btn-post").hide();
    $(".btn-left").show('slide', {direction: 'right'}, 500);
    $("#poll-new").show('slide', {direction: 'right'}, 500);
  });

  $("#btn-survey").click(function(){
    $(".panel-left").hide();
    $(".panel-right").hide();
    $("#btn-post").hide();
    $(".btn-left").show('slide', {direction: 'right'}, 500);
    $("#survey-new").show('slide', {direction: 'right'}, 500);
  });

  $("#btn-call").click(function(){
    $(".panel-left").hide();
    $(".panel-right").hide();
    $("#btn-post").hide();
    $(".btn-left").show('slide', {direction: 'right'}, 500);
    $("#call-new").show('slide', {direction: 'right'}, 500);
  });

});

</script>
