<div class="row">
  <div class="col-xs-2">
    <button id="btn-menu" style="border:none; height: 100px; width: 100px; background-color:#FCB800;"><%= image_tag 'main_menu_icon-15.png', style: "background-color:#FCB800; height: 50px;" %></button>
    <div id="menu-options" class="panel panel-left">
      <button id="menu-options-btn-close" class="btn-close"><%= image_tag 'exit_button-15.png', style: "background-color:#FCB800; height: 50px;" %></button>
      <br>
      <%= link_to 'Reports', posts_path(code: 'pie'), id: 'btn-reports', class: 'btn-panel', style: 'margin-top: 15vh;' %><br>
      <%= link_to 'Newsboard', newsboard_path, id: 'btn-newsboard', class: 'btn-panel'%><br>
      <%= link_to 'About', about_path, id: 'btn-about', class: 'btn-panel' %><br>
    </div>

  </div>
  <div class="col-xs-8">
    REPORTS
  </div>
  <div class="col-xs-2">
    <button id="btn-post" style="border:none; height: 100px; width: 100px; background-color:#FCB800; float:right;"><%= image_tag 'main_menu_icon-15.png', style: "background-color:#FCB800; height: 50px;" %></button>
    <div id="post-options" class="panel panel-right">
      <button id="post-options-btn-close" class="btn-close"><%= image_tag 'exit_button-15.png', style: "background-color:#FCB800; height: 50px;" %></button>
      <br>
      <button id="btn-report" class='btn-panel' style='margin-top: 15vh; text-align:left;'>Report</button>
      <button id="btn-petition" class='btn-panel' style="margin-top: 3vh; text-align: left;">Petition</button>
    </div>
    <div id="report-new" class="panel panel-right">
      <button id="post-options-btn-close" class="btn-close"><%= image_tag 'exit_button-15.png', style: "background-color:#FCB800; height: 50px;" %></button>
      <br>
      <%= render 'reports/form' %>
    </div>
    <div id="petition-new" class="panel panel-right">
      <button id="petition-new-btn-close" class="btn-close"><%= image_tag 'exit_button-15.png', style: "background-color:#FCB800; height: 50px;" %></button>
      <br>
      <%= render 'petitions/form' %>
    </div>
  </div>
</div>

<form action="/posts">
  <%= hidden_field_tag 'code', 'pie' %>
  <input name="query" type="text">
  <input type="submit" class="hidden">
</form>

<form action="/posts" style="width: 10vw;">
  <%= hidden_field_tag 'code', 'pie' %>
  <%= select_tag("sort", options_for_select([["All posts",'all'],["Reports only",'reports'],["Petitions only",'petitions']]), :prompt => "Sort posts...", :onchange => "this.form.submit()",:class=>"form-control") %>
</form>


<div>
  <% @posts.each do |post| %>
    <% if post.class.name == "Report" %> <!-- IF REPORT -->
      <% if user_signed_in? %> <!-- IF ADMIN -->
        <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, style: "outline:none; text-decoration: none; background-color:white;" do %> <!-- THIS NEEDS TO BE BEFORE THE show-report or show-petition DIV -->
          <%= image_tag "delete_post_button-15.png", style: "height: 50px; margin-bottom: -30px;", class: "delete-link" %>
        <% end %>
      <% end %>
      <a href="#" class="report-container" style="outline: none;">
        <div style="border: 5px solid black; margin-bottom: 10px; margin-left: 20px;" id="btn-show-report<%= post.id %>" class="btn-show-report" onclick="show_report(this)">
          <div style="margin-left: 25px;">
            <%= post.write_up %><br>
            <% post.tags.each do |tag| %>
              #<%= tag.name %> 
            <% end %>
            <% if post.tags.count > 0 %>
              <br>
            <% end %>
            <strong><%= post.name %>, <%= post.age %></strong>
            <% if post.noted %>
              <% if user_signed_in? %>
                <%= form_for(post, html: {method: "patch"}) do %>
                  <input name="btn-noted" value="false" class="hidden">
                  <input type="image" src="/assets/already_noted_icon-15.png" onclick="event.stopPropagation();" style="height: 50px; outline: none;">
                <% end %>
              <% else %>
                <img src="/assets/noted_seal_icon-15.png" style="height: 50px;">
              <% end %>
            <% else %>
              <% if user_signed_in? %>
                <%= form_for(post, html: {method: "patch"}) do %>
                  <input name="btn-noted" value="true" class="hidden">
                  <input type="image" src="/assets/note_button-15.png" onclick="event.stopPropagation();" style="height: 50px; outline: none;">
                <% end %>
              <% end %>
            <% end %>
          </div>

          <!-- DIV FOR SLIDE OUT WHEN CLICKING REPORT -->

          <div id="show-report<%= post.id %>" class="show-post"> 

            <div style="border: 5px solid black; margin-bottom: 10px;">
              <%= post.write_up %><br>
              <% post.tags.each do |tag| %>
                #<%= tag.name %> 
              <% end %>
              <% if post.tags.count > 0 %>
                <br>
              <% end %>
              <strong><%= post.name %>, <%= post.age %></strong>
            </div>

            <% post.comments.each do |comment| %>
              <div style="border: 5px solid black; margin-bottom: 10px;">
                <%= comment.write_up %><br>
                <strong><%= comment.name %>, <%= comment.age %></strong>
              </div>
            <% end %>

            <div style="border: 5px solid black; margin-bottom: 10px;">
              <% @comment = Comment.new %>
              <%= form_for(@comment) do |f| %>
                <div class="field">
                  <%= f.text_area :write_up, placeholder: "Type here..."%>
                </div>
                <div class="field">
                  <%= f.text_field :name, placeholder: "Name..."%>
                </div>
                <div class="field">
                  <%= f.number_field :age, placeholder: "Age..."%>
                </div>
                <div class="field">
                  <%= f.hidden_field :report_id, :value=>post.id %>
                </div>
                <div class="actions">
                  <%= f.submit 'Reply'%>
                </div>
              <% end %>
            </div>

          </div>

          <!-- END DIV FOR SLIDE OUT WHEN CLICKING REPORT -->

        </div>
      </a>
    <% else %> <!-- IF PETITION -->
      <% if user_signed_in? %> <!-- IF ADMIN -->
        <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, style: "outline:none; text-decoration: none; background-color:white; " do %> <!-- THIS NEEDS TO BE BEFORE THE show-report or show-petition DIV -->
          <%= image_tag "delete_post_button-15.png", style: "height: 50px; margin-bottom: -30px;", class: "delete-link" %>
        <% end %>
      <% end %>
      <a href="#" class="report-container" style="outline: none;">
        <div style="border: 5px solid #FCB800; color:black;  margin-bottom: 10px; margin-left: 20px;" id="btn-show-petition<%= post.id %>" class="btn-show-petition" onclick="show_petition(this)">
          <div style="margin-left: 25px;">
            <%= post.write_up %><br>
            <button id="btn-sign-petition<%= post.id %>" class="btn-sign-petition" onclick="sign_petition(event, this)">Sign petition here...</button>
            <% if post.noted %>
              <% if user_signed_in? %>
                <%= form_for(post, html: {method: "patch"}) do %>
                  <input name="btn-noted" value="false" class="hidden">
                  <input type="image" src="/assets/already_noted_icon-15.png" onclick="event.stopPropagation();" style="height: 50px; outline: none;">
                <% end %>
              <% else %>
                <img src="/assets/noted_seal_icon-15.png" style="height: 50px;">
              <% end %>
            <% else %>
              <% if user_signed_in? %>
                <%= form_for(post, html: {method: "patch"}) do %>
                  <input name="btn-noted" value="true" class="hidden">
                  <input type="image" src="/assets/note_button-15.png" onclick="event.stopPropagation();" style="height: 50px; outline: none;">
                <% end %>
              <% end %>
            <% end %>
          </div>

          <!-- DIV FOR SLIDE OUT WHEN CLICKING PETITION -->

          <div id="show-petition<%= post.id %>" class="show-post">

            <div style="border: 5px solid black; margin-bottom: 10px;">
              <%= post.signatures.count %> out of 300<br>
            </div>

            <div style="border: 5px solid black; margin-bottom: 10px;">
              <%= post.write_up %>
              <button id="btn-sign-petition<%= post.id %>" class="btn-sign-petition" onclick="sign_petition(event, this)">Sign petition here...</button>
            </div>

          </div> 

          <!-- END DIV FOR SLIDE OUT WHEN CLICKING PETITION -->

          <!-- DIV FOR SLIDE OUT WHEN SIGNING PETITION -->

          <div id="sign-petition<%= post.id %>" class="show-post">
            Sign the<br>Petition
            <% @signature = Signature.new %>
            <%= form_for(@signature) do |f| %>
              <div class="field">
                <%= f.text_field :name, placeholder: "Name...", onclick:"event.stopPropagation();"%>
              </div>
              <div class="field">
                <%= f.number_field :age, placeholder: "Age...", onclick:"event.stopPropagation();"%>
              </div>
              <div class="field">
                <%= f.text_field :email, placeholder: "Email...", onclick:"event.stopPropagation();" %>
              </div>
              <div class="field">
                <%= f.hidden_field :petition_id, :value=>post.id %>
              </div>
              <div class="actions">
                <%= f.submit 'Sign', onclick:"event.stopPropagation();"%>
              </div>
            <% end %>
          </div>

          <!-- END DIV FOR SLIDE OUT WHEN SIGNING PETITION -->

        </div>
      </a>
    <% end %>
  <% end %>
</div>


<script>
function show_petition(element){
  $(".show-post").hide();
  var count = element.id.slice(-1);
  $("#show-petition"+count).show();//('slide', {direction: 'left'}, 500);
}

function sign_petition(e, element){
  $(".show-post").hide();
  var count = element.id.slice(-1);
  $("#sign-petition"+count).show();//('slide', {direction: 'left'}, 500);
  var event = e || arguments[0] || window.event;
  event.stopPropagation();
}

function show_report(element){
  $(".show-post").hide();
  var count = element.id.slice(-1);
  $("#show-report"+count).show();//('slide', {direction: 'left'}, 500);
}

$(document).ready(function(){
  // $( "#toggle" ).toggle( "slide" );
  $(".panel-right").hide();
  $(".panel-left").hide();

  $("#btn-menu").click(function(){
    $("#btn-menu").hide();
    $(".panel-right").hide();
    $("#btn-post").show('slide', {direction: 'right'}, 500);
    $("#menu-options").show('slide', {direction: 'left'}, 500);
  });

  $("#btn-post").click(function(){
    $("#btn-post").hide();
    $(".panel-left").hide();
    $("#btn-menu").show('slide', {direction: 'left'}, 500);
    $("#post-options").show('slide', {direction: 'right'}, 500);
  });

  $("#btn-petition").click(function(){
    $(".panel-right").hide();
    $("#petition-new").show('slide', {direction: 'right'}, 500);
  });

  $("#btn-report").click(function(){
    $(".panel-right").hide();
    $("#report-new").show('slide', {direction: 'right'}, 500);
  });

    $("#post-options-btn-close").click(function(){
    $("#post-options").hide();
    $("#btn-post").show('slide', {direction: 'left'}, 500);
  });

  $("#menu-options-btn-close").click(function(){
    $("#menu-options").hide();
    $("#btn-menu").show('slide', {direction: 'left'}, 500);
  });

  $("#report-new-btn-close").click(function(){
    $("#report-new").hide();
    $("#btn-post").show('slide', {direction: 'right'}, 500);
  });

  $("#petition-new-btn-close").click(function(){
    $("#petition-new").hide();
    $("#btn-post").show('slide', {direction: 'right'}, 500);
  });


  /* INITIALLY HIDE POST INFORMATION */
  $(".show-post").hide();

});

</script>
