<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div style="margin-top: 10vh; font-family: 'Roboto Slab', serif; font-weight:bold; font-size: 35px; color:black;">Information</div>
    <%= f.text_area :information, :placeholder=>'Type here...', class: 'form-panel', :style=>"resize:none; height: 150px; padding-top: 30px; padding-right: 30px; margin-top: 2vh;" %>
  </div>

  <table id="choice_table" style="margin-top: 2vh;">
    <tbody id="choice_body">
      <tr id="choice_row">
        <% @choice = Choice.new %>
        <%= fields_for "choices[]", @choice do |ff| %>
          <td style="margin-top: 7px; height: 35px;width: 35px; display: inline-block; border: 5px solid black; text-decoration: none;  outline: none; color: black; background: #F1F1F2; font-size: 14px; padding-bottom: 2vh;"></td>
          <td style="padding-bottom: 2vh;"><%= ff.text_field :name, id: "choice_name", :placeholder=>"Choice # 1", class: 'form-panel', style:"width: 94%; float:right;" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <div>
    <input type="button" onclick="cloneRow();" value="Add Choice" class="form-panel" style="padding:0;"/>
  </div>

  <div class="field">
    <div style="margin-top: 4vh; font-family: 'Roboto Slab', serif; font-weight:bold; font-size: 35px; line-height: 30px; color:black;">Deadline</div>
    <%= f.text_field :deadline, :placeholder=>'Type here...', class: 'form-panel', :style=>"margin-top: 2vh;" %>
  </div>

  <div class="actions">
    <%= f.submit 'Post', class: 'form-panel form-submit' %>
  </div>

<% end %>

<script>
  var row = document.getElementById("choice_row"); // find row to copy
  function cloneRow()
  {
    var count = document.getElementById("choice_table").getElementsByTagName("tbody")[0].getElementsByTagName("tr").length; //find number of rows
    var tableForm = document.getElementById("choice_body");//getElementsByTagName("form"); // find table to append to
    var clone = row.cloneNode(true); // copy children too
    clone.id = 'choice_row'+(count + 1);
    tableForm.appendChild(clone); // add new row to end of table
    document.getElementById("choice_row"+(count+1)).getElementsByTagName("td")[1].getElementsByTagName("input")[0]['value'] = "";
    document.getElementById("choice_row"+(count+1)).getElementsByTagName("td")[1].getElementsByTagName("input")[0]['placeholder'] = "Choice # " + (count+1);
  }
</script>


