<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @survey.link %>
</p>

<p>
  <strong>Write up:</strong>
  <%= @survey.write_up %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
