<p id="notice"><%= notice %></p>

<h1>Listing Petition Signatures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Petition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @petition_signatures.each do |petition_signature| %>
      <tr>
        <td><%= petition_signature.name %></td>
        <td><%= petition_signature.age %></td>
        <td><%= petition_signature.email %></td>
        <td><%= petition_signature.petition_id %></td>
        <td><%= link_to 'Show', petition_signature %></td>
        <td><%= link_to 'Edit', edit_petition_signature_path(petition_signature) %></td>
        <td><%= link_to 'Destroy', petition_signature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petition signature', new_petition_signature_path %>
