<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :write_up, :placeholder=>'Type here...', :style=>"resize:none;" %>
  </div>
  <div class="field">
    <%= f.text_field :name, :placeholder=>'Name...' %>
  </div>
  <div class="field">
    <%= f.number_field :age, :placeholder=>'Age...'%>
  </div>

  <div class="field">
    <input name="tags" type="text" placeholder="Tags (e.g. Traffic,NeverAgain)">
  </div>

  <div class="actions">
    <%= f.submit 'Post' %>
  </div>
<% end %>
