<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :write_up, :placeholder=>'Type here...', class: 'form-panel', :style=>"resize:none; height: 500px; padding-top: 30px; padding-right: 30px; margin-top: 2vh;" %>
    <div style="margin-top: -60px; margin-left: 30px; position:absolute;">
      <%= image_tag 'attach_image_icon-15.png', style: "background-color: transparent; height: 30px;" %>
      <span><%= f.file_field :photo, class:'upload', style: "outline: none; margin-top: -20px; margin-left: 50px;" %></span>
    </div>
  </div>

  <div class="field">
    <input name="tags" type="text" placeholder="Tags (e.g. Traffic,Love)" class="form-panel">
  </div>

  <div class="field">
    <%= f.text_field :name, :placeholder=>'Name...', class: 'form-panel' %>
  </div>
  <div class="field">
    <%= f.number_field :age, :placeholder=>'Age...', class: 'form-panel' %>
  </div>

  <div class="actions">
    <%= f.submit 'Post', class: 'form-panel form-submit' %>
  </div>
<% end %>

