<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :write_up, :placeholder=>'Type here...', :style=>"resize:none; border: 4px solid black; font-size: 24px; height: 500px;width:275px;" %>
  </div>

  <div class="field">
    <input name="tags" type="text" placeholder="Tags (e.g. Traffic,NeverAgain)" style="border: 4px solid black; font-size: 24px; height: 45px;width:275px;">
  </div>

  <div class="field">
    <%= f.text_field :name, :placeholder=>'Name...', :style=>"border: 4px solid black; font-size: 24px; height: 45px;width:275px;" %>
  </div>
  <div class="field">
    <%= f.number_field :age, :placeholder=>'Age...', :style=>"border: 4px solid black; font-size: 24px; height: 45px;width:275px;"%>
  </div>

  <div class="actions">
    <%= f.submit 'Post', :style=>"border: 4px solid black; font-size: 24px; height: 45px;width:100px;" %>
  </div>
<% end %>
