<h1>Editing Report</h1>

<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :write_up, :placeholder=>'Type here...', :style=>"border: 4px solid black; font-size: 24px; height: 56px;width:15vw; background-color: #e4e2e1" %>
  </div>
  <div class="field">
    <%= f.text_field :name, :placeholder=>'Name...' %>
  </div>
  <div class="field">
    <%= f.number_field :age, :placeholder=>'Age...'%>
  </div>
  <div class="actions">
    <%= f.submit 'Post' %>
  </div>
<% end %>


<%= link_to 'Show', @report %> |
<%= link_to 'Back', reports_path %>
